<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Consulta Prolog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Consulta Prolog</h1>
    <form method="post">
        <label for="consulta">Digite a consulta:</label>
        <input type="text" id="consulta" name="consulta">
        <button type="submit">Consultar</button>
    </form>
    {% if resultado is not none %}
    <div class="result-container">
        {% for item in resultado %}
            <p>{{ item }}</p>
        {% endfor %} 
    </div>
    {% endif %}

    <div class= "exemplos">
        <p>exemplo 1: filme(Nome, Diretor, Genero, Ano) </p>
        <p>exemplo 2: filme('The Dark Knight', Diretor, Genero, Ano) </p>
        <p>exemplo 3: filme(Nome, james_cameron, Genero, Ano) </p>
    </div> 
</body>
</html>
